body {
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

.center-image
{
    margin: auto;
    display: block;
    max-width: 70%;
}

p {
    text-align: justify;
}

li {
    text-align: justify;
}

.title-wrapper {
  text-align: center;
}

.post-preview {
}

.post-metadata {
  display: inline-block;
  float: left;
  padding-top: 1em;
  margin-right: 50px;
}

.post-description {
  position: relative;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}


.site-header {
  background-color: #8c1515;
}

.site-title {
  color: #FFF !important;
  float: none;
}

.page-link {
  color: #bbb !important;
}