<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  {% seo %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content" onclick="hideClass()">
      <div class="wrapper">
        <div class="home">
          
          <div class="home-page-content">
            {{ content }}
          </div>

          <ul class="post-list">
            {% for post in site.posts %}
              <li>
                <a class="post-preview" href="{{ post.url | relative_url }}"> 
                  <span class="post-meta post-metadata">{{ post.date | date: "%b %-d, %Y" }}</span>
                  <div class="post-description"> 
                    <div class="post-preview-title">{{ post.title | escape }}</div>
                    <div class="post-preview-excerpt">{{ post.excerpt }}</div>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>

        </div>

      </div>
    </main>

    {% include footer.html %}

  </body>

</html>


