<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  {% seo %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content" onclick="hideClass()">
      <div class="wrapper">
        <div class="home">

          <div class="home-page-content">
            {{ content }}
          </div>

          <!-- extract different modules -->
          <!-- {% assign modules = "" %}
            {% for post in site.posts %}
              {% assign mod = post.module | join:'|' | append:'|' %}
              {% assign modules = modules | append:mod %}
            {% endfor %}
          {% assign modules = modules | split:'|' | sort  | uniq %} -->
          <!-- end -->

          <!-- {% for mod in modules %} -->
          <!-- {% endfor %} -->

          <div class="module-h1">
              Hands-on sessions
          </div>

          <ul class="post-list">
            {% include post-preview.html id="/session-3" %}
            {% include post-preview.html id="/session-4" %}
          </ul>

          <div class="module-h1">
              Final Project
          </div>
          <div class="module-h2">
              Introduction
          </div>
          <ul class="post-list">
            {% include post-preview.html id="/project-code-examples" %}
            {% include post-preview.html id="/aws-starter-guide" %}
          </ul>

          <div class="module-h2">
              Best practices
          </div>
          <ul class="post-list">
            {% include post-preview.html id="/train-dev-test-split" %}
            {% include post-preview.html id="/logging-hyperparams" %}
          </ul>

          <div class="module-h2">
              TensorFlow
          </div>
          <ul class="post-list">
            {% include post-preview.html id="/tensorflow-getting-started" %}
            {% include post-preview.html id="/tensorflow-input-data" %}
            {% include post-preview.html id="/tensorflow-model" %}
          </ul>

          <div class="module-h2">
              PyTorch
          </div>
          <ul class="post-list">
             {% include post-preview.html id="/pytorch-getting-started" %}
             {% include post-preview.html id="/pytorch-vision" %}
             {% include post-preview.html id="/pytorch-nlp" %}
          </ul>

        </div>

      </div>
    </main>

    {% include footer.html %}

  </body>

</html>


